<%- include("header.ejs") -%>
  <%- include("navigation.ejs") -%>

    <!-- partial:404.ejs -->
    <main class="error-main">
      <div class="cat-container">
        <img src="https://http.cat/404" alt="404 Cat Not Found" class="cat-img">
      </div>

      <p class="error-description">
        <strong>ERROR_404:</strong> Portal Link severed. <br>
        Agent, even this cat can't find the page you're looking for !
      </p>

      <a href="/" class="btn-redeploy">Back to Intel Ops</a>
    </main>

    <%- include("footer.ejs") -%> 