  <div id="general-faq" class="section dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>General FAQ</h2>
          <p>Here are more general questions and answers. If your question is not answered here, feel free to contact
            the organisers directly. If you are already registered you can also use our various Telegram channels to ask
            questions.</p>
        </div>
        <div class="col-lg-6">

          <div class="accordion" id="general-faq-accordion">
            <div class="card">
              <div class="card-header" id="general-faq-accordion-heading-missionday">
                <h3 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#general-faq-accordion-body-missionday" aria-expanded="false"
                    aria-controls="general-faq-accordion-body-missionday">
                    Will there be a Mission Day on Sunday?
                  </button>
                </h3>
              </div>

              <div id="general-faq-accordion-body-missionday" class="collapse"
                aria-labelledby="general-faq-accordion-heading-missionday" data-parent="#general-faq-accordion">
                <div class="card-body">
                  Yes! Niantic has confirmed that Brighton will get a Mission Day. We are still in the early stages
                  of planning that, and more information will follow as it becomes available.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="general-faq-accordion-heading-nlvan">
                <h3 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#general-faq-accordion-body-nlvan" aria-expanded="false"
                    aria-controls="general-faq-accordion-body-nlvan">
                    Will the NL-1331 van be present in Brighton?
                  </button>
                </h3>
              </div>

              <div id="general-faq-accordion-body-nlvan" class="collapse"
                aria-labelledby="general-faq-accordion-heading-nlvan" data-parent="#general-faq-accordion">
                <div class="card-body">
                  Sadly not. Niantic are only sending it to Primary Sites. In May, the Primary Site is Brisbane in
                  Australia. You can refer <a href="https://ingress.com/news/2023-mzfpk/">to their original blog
                    post</a> for a list of Primary Sites.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="general-faq-accordion-heading-swag">
                <h3 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#general-faq-accordion-body-swag" aria-expanded="false"
                    aria-controls="general-faq-accordion-body-swag">
                    Will there be lots of swag?
                  </button>
                </h3>
              </div>

              <div id="general-faq-accordion-body-swag" class="collapse"
                aria-labelledby="general-faq-accordion-heading-swag" data-parent="#general-faq-accordion">
                <div class="card-body">
                  Absolutely! You can buy all the swag you need from our <a href="https://brighton.irfn.org/">swag shop</a>
                  for pickup in Brighton. If you cannot make it, you can still buy our swag and ask your friends to pick it
                  up for you. There will of course also be some free swag available on the day.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="general-faq-accordion-heading-less-mobile">
                <h3 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#general-faq-accordion-body-less-mobile" aria-expanded="false"
                    aria-controls="general-faq-accordion-body-less-mobile">
                    I have specific mobility needs. Can I still participate?
                  </button>
                </h3>
              </div>

              <div id="general-faq-accordion-body-less-mobile" class="collapse"
                aria-labelledby="general-faq-accordion-heading-less-mobile" data-parent="#general-faq-accordion">
                <div class="card-body">
                  You can absolutely still participate in the event! It is helpful to let us know when you sign up so we
                  can help you find a team which meets your needs. If you have specific questions please reach out to
                  Team Building once you have signed up or email at <a
                    href="mailto:brighton.echo.resistance@gmail.com">brighton.echo.resistance@gmail.com</a>.</div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="general-faq-accordion-heading-bring-kids">
                <h3 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#general-faq-accordion-body-bring-kids" aria-expanded="false"
                    aria-controls="general-faq-accordion-body-bring-kids">
                    Can I bring my kids?
                  </button>
                </h3>
              </div>

              <div id="general-faq-accordion-body-bring-kids" class="collapse"
                aria-labelledby="general-faq-accordion-heading-bring-kids" data-parent="#general-faq-accordion">
                <div class="card-body">
                  <p>Of course! If they want to participate they can either sign up with our registration themselves, or
                    if you are not comfortable with that, you can always tell our Team Building and your Team Lead about
                    it. Please make sure to follow the Ingress Terms and Conditions.</p>
                  <p>If your children do not want to play, there is a lot of fun stuff to do for them in Brighton, such
                    as the Beach and the Pier.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>