<!-- Section header.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geneva Will be Blue</title>
    <meta name="description" content="Informations et FAQ pour l'anomalie Ingress à Genève.">

    <style>body { display: none; }</style>
</head>

<body>



