<%- include('header.ejs') %>

    <main class="wip-container">
        <article class="wip-content">
            <h1 class="wip-title">Agent ! This area is under construction</h1>
            <p class="wip-message">
                This scanner section is not yet synchronized. <br>
                Return shortly for details regarding the Geneva anomaly.
            </p>

            <div class="wip-image-container">
                <img src="https://http.cat/503"
                    alt="Illustration humoristique d'un chat : Erreur 503, service temporairement indisponible."
                    class="wip-image">
            </div>

            <div class="wip-actions">
                <a href="/" class="btn-back">Home Page</a>
            </div>
        </article>
    </main>

    <%- include('footer.ejs') %>